<div class="page">
    <div *ngFor="let note of notes">
        
        <div class="note-header">
            <div class="note-name sortable">
                <label class="note-name">{{ note.name }}</label>
            </div>
            <div class="note-date sortable">
                <label class="note-date">{{ note.createdOn }}</label>
            </div>
        </div>
        <ng-template class="note-list">
            {{ note }}
        </ng-template>
    </div>
    <button (click)="createNote('efgfg')" class="add-note">{{ 'NOTES_BUTTON_CREATE' | translate }}</button>
</div>